body{
	margin: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: white;
	font-family: helvetica;
	font-weight: 400;
	font-style: normal;
}

#hero-section{
	background-image: url("football.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

#hero-section h1{
	color: white;
	font-size: 4em;
	font-family: "Borel", cursive;
	padding-left: 3%;
	padding-top: 120px;
}

#hero-catchcopy{
	color: white;
	font-size: 2em;
	padding-left: 3%;
}

.main{
	margin: 3% auto;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.verticalbox{
	display: flex;
	width: 70%;
	flex-direction: column;
	text-align: center;
}

.riku-intro{
	display: flex;
	flex-direction: row;
	margin: 3%;
	padding: 3%;
	background-color: whitesmoke;
	width: 90%;
	height: 270px;
	border-radius: 50px;
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.riku-intro:hover {
	background-color: skyblue;
}

.riku-intro h2{
	font-size: 2em;
}

.riku-intro p{
	font-size: 1em;
}

.intro-img{
	border-radius: 50%;
	height: 250px;
}

#intro-description{
	margin: 3%;
}

button {
	cursor: pointer;
	font-weight: 700;
	transition: all 0.2s;
	padding: 0px 10px;
	border-radius: 30px;
	background: #cfef00;
	border: 3px solid transparent;
	display: flex;
	align-items: center;
	font-size: 1em;
}

button:hover {
	background: #c4e201;
}

button > svg {
	width: 30px;
	margin-left: 10px;
	transition: transform 0.3s ease-in-out;
}

button:hover svg {
	transform: translateX(50px);
}

button:active {
	transform: scale(0.95);
}

img{
	height: 10vh;
}

.verticalbox-2{
	width: 25%;
	display: flex;
	flex-direction: column;
}

.others h3{
	font-size: 1em;
}

#SNS{
	font-size: 1em;
	text-align: left;
}

.others{
	margin: 2%;
	padding: 10%;
	height: 270px;
}

.fa {
	padding: 20px;
	font-size: 1em;
	width: 50px;
	text-align: center;
	text-decoration: none;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}

.fa-linkedin {
	background: #55ACEE;
	color: white;
}

@media (max-width: 540px) {
    .main {
        flex-direction: column;
    }

    .SNS{
    	width: 90%;
    }
}
